{% extends "base_auth_admin.html" %}

{% block text %}
<h1>Получение ID чата</h1>
<h3>Для получения ID чата вам потребуется выполнить 3 простых шага</h3>
<ol>
    <li>Перейти на следующую страницу</li>
    <li>Скопировать команду и отправить её в чат, id которого вы хотите получить<br>
        <p class="alert alert-warning"><b>NB!</b>&nbsp;Бот должен обязательно быть добавленным в этот чат</p></li>
    <li>После чего на нашем сайте нажать кнопку <i>Далее</i> и перейти на последнюю страницу, где мы вам и дадим ID чата</li>
</ol>
<div style="height: 10px"></div>
<p><a href="/chatid/two" class="btn btn-primary">Далее</a></p>
{% endblock %}